<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/OMKAR BADE/IdeaProjects/POM_Framework/src/test/java/test/LoginPageTest.java"><classes><class name="test.LoginPageTest"><methods><include name="chromeLogin"/><include name="validloginPageWithConfigDataTest"/><include name="validateInvalidLoginCredTest"/></methods></class></classes></test></suite>